@{
    ViewBag.Title = "Hem";
}


<div class="channels">
    <section>
        <h1>SVT 1</h1>
        <ul>
            <li><h2>16:30 Strömsö</h2></li>
            <li><h2>17:00 Vem vet mest?</h2></li>
            <li><h2>17:30 Sverige idag</h2></li>
            <li><h2>18:00 Rapport</h2></li>
            <li><h2>18:13 Kulturnyheterna</h2></li>
            <li><h2>18:25 Sportnytt</h2></li>
            <li><h2>18:30 Lokala nyheter</h2></li>
            <li><h2>18:45 Go'kväll</h2></li>
        </ul>
    </section>
    <section>
        <h1>SVT 2</h1>
        <ul>
            <li><h2>16:15 Vetenskapens Värld</h2></li>
            <li><h2>17:17 Nyheter på lätt svenska</h2></li>
            <li><h2>17:20 Nyhetstecken</h2></li>
            <li><h2>17:30 Oddasat</h2></li>
            <li><h2>17:45 Uutiset</h2></li>
            <li><h2>18:00 Engelska Antikrundan</h2></li>
            <li><h2>19:00 Vem vet mest?</h2></li>
            <li><h2>19:30 Förväxlingen</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV4</h1>
        <ul>
            <li><h2>15:55 En plats i solen: Sommarsol</h2></li>
            <li><h2>16:55 Fixer Upper</h2></li>
            <li><h2>17:50 112 - på liv och död</h2></li>
            <li><h2>18:25 Lotto, Joker och Drömvinsten</h2></li>
            <li><h2>18:35 112 - på liv och död</h2></li>
            <li><h2>18:50 Keno</h2></li>
            <li><h2>19:00 TV4Nyheterna</h2></li>
            <li><h2>19:15 Sporten</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV6</h1>
        <ul>
            <li><h2>16:00 Scrubs</h2></li>
            <li><h2>16:30 Scrubs</h2></li>
            <li><h2>17:00 Seinfeldt</h2></li>
            <li><h2>17:30 Seinfeldt</h2></li>
            <li><h2>18:00 How I Met Your Mother</h2></li>
            <li><h2>18:30 How I Met Your Mother</h2></li>
            <li><h2>19:00 Brooklyn Nine-Nine</h2></li>
            <li><h2>19:30 2 1/2 Män</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV10</h1>
        <ul>
            <li><h2>16:00 Car S.O.S</h2></li>
            <li><h2>17:00 Cops</h2></li>
            <li><h2>17:30 Garage Gold</h2></li>
            <li><h2>18:00 Kanadas dödliga motorväg</h2></li>
            <li><h2>19:00 Gear Heads</h2></li>
            <li><h2>19:30 Gear heads</h2></li>
            <li><h2>20:00 MythBusters</h2></li>
            <li><h2>21:00 Pawn Stars</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV12</h1>
        <ul>
            <li><h2>16:00 Cops Reloaded</h2></li>
            <li><h2>16:30 Cops Reloaded</h2></li>
            <li><h2>17:00 Cops Reloaded</h2></li>
            <li><h2>17:30 Cops Reloaded</h2></li>
            <li><h2>18:00 Booze Patrol</h2></li>
            <li><h2>18:30 Booze Patrol</h2></li>
            <li><h2>19:00 Kronofogden knackar på</h2></li>
            <li><h2>20:00 Solsidan</h2></li>
        </ul>
    </section>
</div>
