@{
    ViewBag.Title = "Logga In";
}

<div id="login">
    <form action="nope.html">
        Användarnamn:<br>
        <input type="text" name="username" value="">
        <br>Lösenord<br>
        <input type="password" value="">
        <br>
        <br>
        <input type="submit" value="Logga in">
        <br>
        <span class="psw">Forgot <a href="#">password?</a></span>

    </form>
</div>