@{
    ViewBag.Title = "Nyheter och Sport";
}

<div class="series">
    <section>
        <h1>Serier Idag</h1>
        <ul>
            <li><h2>17:17 SVT2 Nyheter på lätt svenska</h2></li>
            <li><h2>17:20 SVT2 Nyhetstecken</h2></li>
            <li><h2>17:30 SVT2 Oddasat</h2></li>
            <li><h2>17:45 SVT2 Uutiset</h2></li>
            <li><h2>18:00 SVT1 Rapport</h2></li>
            <li><h2>18:13 SVT1 Kulturnyheterna</h2></li>
            <li><h2>18:25 SVT1 Sportnytt</h2></li>
            <li><h2>18:30 SVT1 Lokala nyheter</h2></li>
            <li><h2>19:00 TV4 TV4Nyheterna</h2></li>
            <li><h2>19:15 TV4 Sporten</h2></li>
        </ul>
    </section>
    <div class="recommendations">
        <section>
            <h1>Rapport</h1>
            <img src="img/rapport.jpg" alt="Rapport bild" title="Rapport bild" />
            <p>18:00 SVT1<br><br>Rapport är ett av Sveriges Televisions nyhetsprogram och Sveriges största. Det sänds alla dagar 18.00 och 19.30 i SVT1.</p>
        </section>
    </div>
</div>
