@{
    ViewBag.Title = "Tips";
}

<div class="recommendations">
    <section>
        <h1>Scrubs</h1>
        <img src="img/scrubs.jpg" alt="Scrubs bild" title="Scrubs bild" />
        <p>16:00 TV6 <br> 16:30 TV6 <br><br> Komedi, Drama, <br><br>Serien följer läkaren Dr. John "J.D." Dorian och hans vänner och kollegor i livet på och utanför sjukhuset Sacred Heart. <br><br> <a href="http://www.imdb.com/title/tt0285403/">IMBD</a></p>
    </section>
    <section>
        <h1>Seinfeld</h1>
        <img src="img/seinfeld.jpg" alt="Seinfeld bild" title="Seinfeld bild" />
        <p>17:00 TV6 <br> 17:30 TV6 <br><br> Komedi <br><br>Serien följer Jerry Seinfeld och ett gäng ytliga, självupptagna och cyniska Manhattan-bor som ofta snöar in på de mest bisarra småsakerna.<br><br><a href="http://www.imdb.com/title/tt0098904/">IMBD</a> </p>
    </section>
    <section>
        <h1>How I met Your Mother</h1>
        <img src="img/howimet.jpg" alt="How i met your mother bild" title="how i met your mother bild" />
        <p>18:00 TV6 <br> 18:30 TV6 <br><br> Komedi, Romantik <br><br>Serien handlar om Ted Mosby som berättar för sin son och dotter om händelserna som ledde till hur han träffade deras mamma. Teds berättelse börjar med när hans bästa kompis, Marshall Eriksen, avslöjar att han tänker fria till sin flickvän, Lily Aldrin. Just i det ögonblicket slår det Ted att han måste sätta fart om han också vill finna den rätta. <br><br><a href="http://www.imdb.com/title/tt0460649/">IMBD</a>  </p>
    </section>
</div>