@{
    ViewBag.Title = "Serier";
}
<div class="series">
    <div class="recommendations">
        <section>
            <h1>How I met Your Mother</h1>
            <img src="img/howimet.jpg" alt="How i met your mother bild" title="How i met your mother bild" />
            <p>18:00 TV6 <br> 18:30 TV6 <br><br> Komedi, Romantik <br><br>Serien handlar om Ted Mosby som berättar för sin son och dotter om händelserna som ledde till hur han träffade deras mamma. Teds berättelse börjar med när hans bästa kompis, Marshall Eriksen, avslöjar att han tänker fria till sin flickvän, Lily Aldrin. Just i det ögonblicket slår det Ted att han måste sätta fart om han också vill finna den rätta. <br><br><a href="http://www.imdb.com/title/tt0460649/">IMBD</a> </p>
    </section>
    </div>
    <section>
        <h1>Serier Idag</h1>
        <ul>
            <li><h2>15:55 TV4 En plats i solen: Sommarsol</h2></li>
            <li><h2>16:00 TV12 Cops Reloaded</h2></li>
            <li><h2>16:00 TV10 Car S.O.S</h2></li>
            <li><h2>16:00 TV6 Scrubs</h2></li>
            <li><h2>16:30 TV12 Cops Reloaded</h2></li>
            <li><h2>16:30 TV6 Scrubs</h2></li>
            <li><h2>16:55 TV4 Fixer Upper</h2></li>
            <li><h2>17:00 TV12 Cops Reloaded</h2></li>
            <li><h2>17:00 TV10 Cops</h2></li>
            <li><h2>17:00 TV6 Seinfeldt</h2></li>
            <li><h2>17:30 TV12 Cops Reloaded</h2></li>
            <li><h2>17:30 TV6 Seinfeldt</h2></li>
            <li><h2>17:30 TV10 Garage Gold</h2></li>
            <li><h2>17:50 TV4 112 - på liv och död</h2></li>
            <li><h2>18:00 TV12 Booze Patrol</h2></li>
            <li><h2>18:00 TV10 Kanadas dödliga motorväg</h2></li>
            <li><h2>18:00 SVT2 Engelska Antikrundan</h2></li>
            <li><h2>18:00 TV6 How I Met Your Mother</h2></li>
            <li><h2>18:30 TV12 Booze Patrol</h2></li>
            <li><h2>18:30 TV6 How I Met Your Mother</h2></li>
            <li><h2>18:35 TV4 112 - på liv och död</h2></li>
            <li><h2>19:00 TV12 Kronofogden knackar på</h2></li>
            <li><h2>19:00 TV10 Gear Heads</h2></li>
            <li><h2>19:00 TV6 Brooklyn Nine-Nine</h2></li>
            <li><h2>19:30 TV10 Gear heads</h2></li>
            <li><h2>19:30 TV6 2 1/2 Män</h2></li>
            <li><h2>19:30 SVT2 Förväxlingen</h2></li>
            <li><h2>20:00 TV12 Solsidan</h2></li>
            <li><h2>20:00 TV10 MythBusters</h2></li>
            <li><h2>21:00 TV10 Pawn Stars</h2></li>
        </ul>
    </section>
</div>
<div class="recommendations">
    <section>
        <h1>Scrubs</h1>
        <img src="img/scrubs.jpg" alt="Scrubs bild" title="Scrubs bild" />
        <p>16:00 TV6 <br> 16:30 TV6 <br><br> Komedi, Drama, <br><br>Serien följer läkaren Dr. John "J.D." Dorian och hans vänner och kollegor i livet på och utanför sjukhuset Sacred Heart. <br><br> <a href="http://www.imdb.com/title/tt0285403/">IMBD</a></p>
    </section>
</div>